version: 2.1
orbs:
  matlab: mathworks/matlab@1.1.1
jobs:
  build:
    working_directory: ~/FalCAuN
    machine:
      image: ubuntu-2204:2024.01.1
    steps:
      - checkout
      - run:
          command: |
            wget https://github.com/Meijuh/ltsmin/releases/download/v3.1.0/ltsmin-v3.1.0-linux.tgz
            tar xvf ltsmin-v3.1.0-linux.tgz
            sudo cp -r v3.1.0/* /usr
      - run:
          name: Install OpenJDK 11
          command: |
            sudo apt-get update && sudo apt-get install openjdk-11-jdk maven -y
            sudo update-alternatives --set java /usr/lib/jvm/java-11-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-11-openjdk-amd64/bin/javac
      - matlab/install:
          release: R2024a
          products: Simulink
      - restore_cache:
          key: FalCAuN-{{ checksum "pom.xml" }}
      - run: MATLAB_HOME=/tmp/matlab_root mvn clean
      - run: MATLAB_HOME=/tmp/matlab_root mvn install -DskipTests=True
      - run: MATLAB_HOME=/tmp/matlab_root mvn test -Dtest='!%regex[.*Simulink((SULVerifier)|(SUL)|(MembershipOracle))Test.*]' -DskipTests=False
      - store_artifacts:
          path: target
      - save_cache:
          paths:
            - ~/.m2
          key: FalCAuN-{{ checksum "pom.xml" }}
      - store_test_results:
          path: target/surefire-reports
