name: deploy docs

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          java-package: jdk
          distribution: 'temurin'
      - name: Install dependencies
        run: pip install -r site/requirements.txt
      - name: Install Owl
        run: |
          wget https://github.com/owl-toolkit/owl/releases/download/release-21.0/owl-linux-amd64-21.0.zip
          unzip owl-linux-amd64-21.0.zip -d owl
          mvn install:install-file -N \
            -Dfile=./owl/owl-linux-musl-amd64-21.0/jar/owl-21.0.jar \
            -DgroupId=de.tum.in \
            -DartifactId=owl \
            -Dversion=21.0 \
            -Dpackaging=jar \
            -DgeneratePom=true


      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build docs
        run: mkdocs build --config-file site/mkdocs.yml --site-dir generated

      - name: Build javadoc for core module
        run: |
          mvn javadoc:aggregate --projects core
          mkdir -p ./site/generated/maven-site/latest
          mv core/target/reports/apidocs ./site/generated/maven-site/latest
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./site/generated
          destination_dir: .
          keep_files: true
