name: deploy docs

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install -r site/requirements.txt
      - name: Build docs
        run: mkdocs build --config-file site/mkdocs.yml --site-dir generated
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./site/generated
          destination_dir: .
          keep_files: true
