name: JUnit

on:
  push:
    paths-ignore:
      - 'README.md'

jobs:
  JUnit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Ensure the installation of Maven (for self-hosted runners)
        run: |
          sudo apt-get update && sudo apt-get install maven -y
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          java-package: jdk
          distribution: 'temurin'
      - name: Install LTSMin
        run: |
          wget https://github.com/Meijuh/ltsmin/releases/download/v3.1.0/ltsmin-v3.1.0-linux.tgz
          tar xvf ltsmin-v3.1.0-linux.tgz
          sudo cp -r v3.1.0/* /usr

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build the core project with Maven
        run: mvn dependency:go-offline --projects core

      - name: Test the core project with Maven
        run: mvn test -DskipTests=False --projects core

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.0.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
