name: JUnit

on:
  push:
    paths-ignore:
      - 'README.md'

jobs:
  JUnit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Ensure the installation of Maven (for self-hosted runners)
        run: |
          sudo apt-get update && sudo apt-get install maven -y
      - uses: actions/setup-java@v5
        with:
          java-version: '17'
          java-package: jdk
          distribution: 'temurin'
      - name: Install LTSMin
        run: |
          wget https://github.com/Meijuh/ltsmin/releases/download/v3.1.0/ltsmin-v3.1.0-linux.tgz
          tar xvf ltsmin-v3.1.0-linux.tgz
          sudo cp -r v3.1.0/* /usr

      - name: Install Owl
        run: |
          wget https://github.com/owl-toolkit/owl/releases/download/release-21.0/owl-linux-amd64-21.0.zip
          unzip owl-linux-amd64-21.0.zip -d owl
          mvn install:install-file -N \
            -Dfile=./owl/owl-linux-musl-amd64-21.0/jar/owl-21.0.jar \
            -DgroupId=de.tum.in \
            -DartifactId=owl \
            -Dversion=21.0 \
            -Dpackaging=jar \
            -DgeneratePom=true


      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install jep
        run: |
          pip install --upgrade setuptools wheel
          pip install --no-cache-dir --no-build-isolation jep==4.2.1
          pip show jep

      - name: Build the core project with Maven
        run: |
          mvn dependency:go-offline --projects core
          mvn install --also-make --projects core -DskipTests=True

      - name: Test the core project with Maven
        run: mvn test -DskipTests=False --projects core

      - name: Test the python project with Maven
        run: mvn test --projects python
        env:
          # Path to the jep library `jep-4.2.1.jar`
          LD_LIBRARY_PATH: ${{ env.LD_LIBRARY_PATH }}:${{ env.Python3_ROOT_DIR }}/lib/python3.13/site-packages/jep
          JEP_JAVA_LIBRARY_PATH: ${{ env.Python3_ROOT_DIR }}/lib/python3.13/site-packages/jep


      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
